/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 639px) {
	.bodyRight{
		.col-md-4{
			margin-bottom: 5px;
			img{
				width: 100%;
			}
		}
	}
	.leftSidebar{
		min-height: auto;
		.bannerSidebar{
			display: none;
		}
	}
	#page .leftSidebar{
		margin-bottom: 20px;
	}
	.overview .des{
		font-size: 18px;
	}
	.home section{
		padding: 20px 0;
	}
	.services .thumbCat{
		margin: 20px auto;
	}
	.footer{
		height: auto;
		text-align: center;
		.ftRIght{
			text-align: center;
		}
	}
	.organize{
		.thumbCat{
			margin-bottom: 0;
			margin-top: 30px;
		}
		.btnProfile{
			margin-top: 25px;
		}
	}
	.description{
		height: auto;
	}

}