/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 639px) {
	.bodyRight{
		.col-md-4{
			margin-bottom: 5px;
			img{
				width: 100%;
			}
		}
	}
	.leftSidebar{
		min-height: auto;
		.bannerSidebar{
			display: none;
		}
	}
}