@media (max-width: 1360px) {
	
	.page-template-template-contact .container .form .bgContact img{
		width: auto;
		max-width: none;
	}
  .pc{
    display: none;
  }
  .sm{
    display: block;
  }
	#page .leftSidebar{
		min-height: auto !important;
	}
	header .bgHeader img{
		height: 260px;
		width: auto;
		max-width: none;

	}

  .bodyLeft.pc{
    display: none;
  }
  .bodyLeft.sm{
    display: block;
  }
	.bgHeader{
		overflow: hidden;
		height: 260px;
		img{
			width: 100%;
		}
	}
}
@media (max-width: 1130px) {
	.page-template-template-contact .container .container{
		width: 100%;
	}
}
@media (max-width: 959px) {
	.page-template-template-contact .container .list .item:nth-child(2n) .box{
		padding-left: 0;
	}
	.page-template-template-contact .container .container{
		width: 100%;
	}
	.page-template-template-contact footer{
		height: auto;
		.ftRIght{
			text-align: center;
		}
		.container{
			width: 100%;
		}
	}
	.page-template-template-contact .container .form{
		background: #F2F2F2;
		height: auto;
		.bgContact{
			display: none;
		}
	}
	.page-template-template-contact .container .form .contact{
		.titleSection,.des{
			color: #163679;
		}
	}
	header{
		height: auto;
		overflow: visible;
		.bgHeader img{
			max-width: auto;
		}
		.slider{
			display: none;
		}
		.path{
			top: 10px;
			ul li{
				padding-right: 2px;
				a{
					color: #06397b;
				}
			}
			.mainTitle{
				font-size: 16px;
				color: #06397b;
				display: none;
			}
		}
		.mainNavSm{
			position: absolute;
			top: 60px;
			width: 100%;
			background: #F2F2F2;
			z-index: 99;
			display: none;
		}
		.mainNav{
			display: none;
		}
		.searchbox .txtSearch{
			width: auto;
		}
		.wrap{
			position: static;
		}
		.bgHeader{
			height: 60px;
			position: relative;
		}
		.logo{
			width: 100px;
			height: auto;
			padding-top: 4px;
		}
		.searchbox{ 
			margin-right:40px;
			.txtSearch {
		    position: relative;
		    right: -15px;
		    width: auto;
		    padding-right: 9px;
			}
			input{
				height: auto;
			}
			.iconSearch{
				background-size: 100% 100%;
				width: 38px;
				height: 30px;
				right: 0;
			}
		}
		.menu,.language{
			position: relative;
			right: auto;
			display: block;
			width: auto;
			height: auto;
			li{
				display: block;
				text-align: center;
				color: #06397b;
				height: 40px;
				border-bottom: 1px solid #e8e8e8; 
				padding-top: 11px;
				a{
					line-height: 100%;
					color: #06397b;
					padding: 0;
				}
			}
		}
		.language{
			top: 0;
			text-align: center;
			li{
				display: inline-block !important;
			}
		}
	}
	.navbar-toggle{
		margin: 8px;
		padding: 0;
		position: absolute;
		top: 0;right: 0;
		&:hover{cursor: poiter;}
		.icon-bar{
			background-color: #fff;
		}
	}
	.home header .logo{
		top: 4px;
	} 
}