@import "reset";
body{
	font-family: "Roboto";
}
//Header
header{
  height: 260px;
  margin: 0 auto 30px;
  position: relative;
  overflow: hidden;
  .bgHeader{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    img{
      width: 100%;
    }
  }
  .wrap{
    max-width:1280px;
    margin: 0 auto;
    position: relative;
  }
  ul{
    li{
      display: inline-block;
      a{
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  .mainNav{
    height: 60px;
    background: #E41117;
    width: 100%;
    position: relative;
    text-align: right;
    top: 39px;
  }
  .menu{
    position: absolute;
    width: 920px;
    right: 50px;
    top: 0px;
    display: table;
    height: 60px;
    li{
      display: table-cell;
      vertical-align: middle;
      a{
        padding: 0 16px;
        text-decoration: none;
      }
      &:first-child{
        a{
          padding-left: 0;
        }
      } 
    }
  }
  .language{
    position: absolute;
    top: 18px;right: 0;
    margin: 0;padding: 0;
    width: 50px;
    li{
      &:first-child{
        margin-right: 2px;
      }
    }
  }
  .logo{
    width: 205px;height: 99px;
    position: absolute;
    left: 10px;top: 0;
    z-index: 99;
  }
  .searchbox{
    position: absolute;
    top: 0;right: 0;
    z-index: 99;
    .txtSearch{
      background: url("../img/bg-search.png") no-repeat 0 0 transparent;
      border: 0;
      width: 370px;
      padding-left: 15px;color: #fff;
    }
    .iconSearch{
      background: url("../img/icon-search.png") no-repeat 0 0 transparent;
      width: 77px;height: 50px;
      border: 0;
      text-indent: -9999px;
      position: relative;
      right: 40px;
    }
  }
  .path{
    position: relative;
    top: 120px;
    font-family: Arial;
    color: #999;
    font-size: 10px;
    text-transform: uppercase;
    ul{
      li{
        &:after{
          content: ">";
          padding-left: 4px;
        }
        &:last-child{
          &:after{
            content: "";
          }
        }
        a:hover{
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .mainTitle{
      margin-top: 10px;
      font-family: "Roboto";
      font-size: 30px;
      font-weight: bold;
      color: #fff;
    }
  }
}//./header
//Body
//Left content
.titleSidebar{
  font-size: 14px;
  background: url("../img/bgSidebar.jpg") no-repeat 0 0;
  height: 21px;
  color: #fff;
  text-transform: uppercase;
  padding: 3px 8px;
  margin: 0;
}
.leftSidebar{
  ul{
    li{
      height: 42px;
      border-bottom: 1px solid #e8e8e8;
      display: table;
      width: 100%;
      a{
        font-size: 16px;
        color: #666;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
.bodyRight{
  .banner{
    background: #e8e8e8;
    padding-bottom: 22px;
  }
  .listItem{
    .item{
      display: block;
      .datetime{
        font-family: Arial;
        font-size: 13px;
        color: #999;
        border-left: 5px solid #e8e8e8;
        display: inline-block;
        width: calc(138/700);
      }
    }
  }
}
@import "tablet";
@import "sm";