@import "reset";
body{
	font-family: "Roboto";
}
//Header
header{
  height: 260px;
  margin: 0 auto 30px;
  position: relative;
  overflow: hidden;
  .bgHeader{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    img{
      width: 100%;
    }
  }
  .wrap{
    max-width:1280px;
    margin: 0 auto;
    position: relative;
  }
  ul{
    li{
      display: inline-block;
      a{
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  .mainNav{
    height: 60px;
    background: #E41117;
    width: 100%;
    position: relative;
    text-align: right;
    top: 39px;
  }
  .menu{
    position: absolute;
    width: 920px;
    right: 50px;
    top: 0px;
    display: table;
    height: 60px;
    li{
      display: table-cell;
      vertical-align: middle;
      a{
        padding: 0 16px;
        text-decoration: none;
      }
      &:first-child{
        a{
          padding-left: 0;
        }
      } 
    }
  }
  .language{
    position: absolute;
    top: 18px;right: 0;
    margin: 0;padding: 0;
    width: 50px;
    li{
      &:first-child{
        margin-right: 2px;
      }
    }
  }
  .logo{
    width: 205px;height: 99px;
    position: absolute;
    left: 10px;top: 0;
    z-index: 99;
  }
  .searchbox{
    position: absolute;
    top: 0;right: 0;
    z-index: 99;
    .txtSearch{
      background: url("../img/bg-search.png") no-repeat 0 0 transparent;
      border: 0;
      width: 370px;
      padding-left: 15px;color: #fff;
    }
    .iconSearch{
      background: url("../img/icon-search.png") no-repeat 0 0 transparent;
      width: 77px;height: 50px;
      border: 0;
      text-indent: -9999px;
      position: relative;
      right: 40px;
    }
  }
  .path{
    position: relative;
    top: 120px;
    font-family: Arial;
    color: #999;
    font-size: 10px;
    text-transform: uppercase;
    ul{
      li{
        &:after{
          content: ">";
          padding-left: 4px;
        }
        &:last-child{
          &:after{
            content: "";
          }
        }
        a:hover{
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .mainTitle{
      margin-top: 10px;
      font-family: "Roboto";
      font-size: 30px;
      font-weight: bold;
      color: #fff;
    }
  }
}//./header
//Body
//Left content
.titleSidebar{
  font-size: 14px;
  background: url("../img/bgSidebar.jpg") no-repeat 0 0;
  height: 21px;
  color: #fff;
  text-transform: uppercase;
  padding: 3px 8px;
  margin: 0;
}
.leftSidebar{
  min-height: 555px;
  ul{
    li{
      height: 42px;
      border-bottom: 1px solid #e8e8e8;
      display: table;
      width: 100%;
      a{
        font-size: 16px;
        color: #666;
        display: table-cell;
        vertical-align: middle;
      }
      &.active{
        a{
          color: #1b3564;
        }
      }
    }
  }
}
.bodyRight{
  margin-bottom: 40px;
  p{
    margin-top: 20px;
  }
  .banner{
    background: #e8e8e8;
    padding-bottom: 22px;
  }
  .listItem{
    .item{
      display: block;
      height: 42px;
      border-bottom: 1px solid #e8e8e8;
      display: table;
      width: 100%;
      background: url("../img/bg-item.jpg") no-repeat 0 50%;
      padding-left: 20px;
      span{
        display: table-cell;
        vertical-align: middle;
      }
      .datetime,.duedate{
        font-family: Arial;
        font-size: 13px;
        color: #999;
        width: 150px;
        span{
        display: table-cell;
        vertical-align: middle;
        }
      }
      .titleItem{
        width: calc(100% - 155px);
        font-size: 16px;
        a{color: #06377a;}
      }
    }
    &.tuyendung{
      .item{
        background: none;
        padding-left: 0;
      }
    }
  }
  .content{
    font-size: 14px;
    font-family: Arial;
    ul{
      margin: 20px 0;
      li{
        background: url("../img/bullet-list.jpg") no-repeat 0 6px;
        padding-left: 30px;
        margin-top: 20px;
      }
    }
  }
  .titleDetail{
    font-size: 36px;
    color: #06397b;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
.paging{
  text-align: center;
  .pagination {
    li{
      a{
        @include border-radius(0px);
        margin-right: 8px;
        font-size: 12px;
        font-weight: bold;
        font-family: Arial;
        &:hover{
          border:1px solid #e8e8e8;
        }
      }
      &.active{
        a:hover{
          border:1px solid #337AB7;
        }
      }
    }
  }
}
.footer{
  height: 120px;
  background: #e41117;
  color: #fff;
  .ftLeft,.box2{
    display: table;
    height: 120px;
  }
  .logoFooter,.info,.ftRIght{
    display: table-cell;
    vertical-align: middle;
  }
  .info{
    padding-left: 6px;
    .infoItem{
      display: block;
    }
  }
  .ftRIght{
    text-align: right;
    .social{
      margin-top: 12px;
      a{
        margin-left: 20px;
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
}
.titleBox{
  background: #e8e8e8;
  height: 29px;
  display: table;
  width: 100%;
  margin-top: 20px;
  span{
    display:inline-block;
    font-size: 14px;
    color: #666;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
  }
  .titleCol1{
    width: calc(100% - 155px);
    padding-left: 10px;
  }
  .titleCol2{
    width: 150px;
  }
}
.bannerSidebar{
  position: absolute;
  bottom: 0;
}
.thumbCat{
  text-align: center;
  margin-bottom: 30px;
  img{
    margin-bottom: 20px;
  }
  a{
    display: block;
    font-size: 14px;color: #06377a;
    text-transform: uppercase;
  }
}
.project{
  .content{
    .col-md-3{
      min-height: 220px;
    }
  }
}
.description{
  height: 130px;
  font-size: 14px;
  margin-bottom: 40px;
}
@import "tablet";
@import "sm";