@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300&subset=latin,vietnamese);
/*@font-face {
  font-family:"Roboto Cn";
  src:url("../fonts/RobotoCondensed-Bold.eot?") format("eot"),
  url("../fonts/RobotoCondensed-Bold.woff") format("woff"),
  url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"),
  url("../fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold") format("svg");
  font-weight:normal;
  font-style:normal;
}*/
/*@font-face {
  font-family:"Roboto Light";
  src:url("../fonts/RobotoCondensed-Light.eot?") format("eot"),
  url("../fonts/RobotoCondensed-Light.woff") format("woff"),
  url("../fonts/RobotoCondensed-Light.ttf") format("truetype"),
  url("../fonts/RobotoCondensed-Light.svg#RobotoCondensed-Light") format("svg");
  font-weight:normal;
  font-style:normal;
}*/
/*@font-face {
  font-family:"Roboto Regular";
  src:url("../fonts/RobotoCondensed-Regular.eot?") format("eot"),
  url("../fonts/RobotoCondensed-Regular.woff") format("woff"),
  url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"),
  url("../fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular") format("svg");
  font-weight:normal;font-style:normal;
}*/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot?") format("eot"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Extrabold";
  src: url("../fonts/OpenSans-ExtraBold.eot?") format("eot"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: #333333;
}
body a {
  outline: 0 none;
}
body a:hover, body a:active, body a:focus {
  border: 0 none;
  outline: 0 none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote {
  background: #f6f6f6;
  border-left: 10px solid #15918d;
  margin: 22px 0;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before, blockquote:after {
  color: #999;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:before {
  content: open-quote;
}

blockquote:after {
  content: close-quote;
}

blockquote p {
  display: inline;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  outline: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #333333;
}

a:hover {
  color: #06377a;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
  font-family: "Roboto Condensed";
  font-size: 100%;
}

input, textarea {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.fix:after {
  clear: both;
}

.wrapper {
  overflow: hidden;
}

.fix:before, .fix:after {
  display: block;
  content: "";
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

.wrapper {
  position: relative;
}

.fix {
  width: 940px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto";
}

header {
  height: 260px;
  margin: 0 auto 30px;
  position: relative;
  overflow: hidden;
}
header .bgHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header .bgHeader img {
  width: 100%;
}
header .wrap {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
header ul li {
  display: inline-block;
}
header ul li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
header .mainNav {
  height: 60px;
  background: #E41117;
  width: 100%;
  position: relative;
  text-align: right;
  top: 39px;
}
header .menu {
  position: absolute;
  width: 920px;
  right: 50px;
  top: 0px;
  display: table;
  height: 60px;
}
header .menu li {
  display: table-cell;
  vertical-align: middle;
}
header .menu li a {
  padding: 0 16px;
  text-decoration: none;
}
header .menu li:first-child a {
  padding-left: 0;
}
header .language {
  position: absolute;
  top: 18px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 50px;
}
header .language li:first-child {
  margin-right: 2px;
}
header .logo {
  width: 205px;
  height: 99px;
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 99;
}
header .searchbox {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}
header .searchbox .txtSearch {
  background: url("../img/bg-search.png") no-repeat 0 0 transparent;
  border: 0;
  width: 370px;
  padding-left: 15px;
  color: #fff;
  margin-top: -12px;
}
header .searchbox .iconSearch {
  background: url("../img/icon-search.png") no-repeat 0 0 transparent;
  width: 77px;
  height: 50px;
  border: 0;
  text-indent: -9999px;
  position: relative;
  right: 40px;
}
header .searchbox input {
  height: 39px;
}
header .path {
  position: relative;
  top: 120px;
  font-family: Arial;
  color: #999;
  font-size: 10px;
  text-transform: uppercase;
}
header .path ul li:after {
  content: ">";
  padding-left: 4px;
}
header .path ul li:last-child:after {
  content: "";
}
header .path ul li a:hover {
  color: #fff;
  text-decoration: none;
}
header .path .mainTitle {
  margin-top: 10px;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.titleSidebar {
  font-size: 14px;
  background: url("../img/bgSidebar.jpg") no-repeat 0 0;
  height: 21px;
  color: #fff;
  text-transform: uppercase;
  padding: 3px 8px;
  margin: 0;
}

.leftSidebar {
  min-height: 555px;
}
.leftSidebar > ul > li {
  height: 42px;
  border-bottom: 1px solid #e8e8e8;
  display: table;
  width: 100%;
}
.leftSidebar > ul > li a {
  font-size: 16px;
  color: #666;
  display: table-cell;
  vertical-align: middle;
}
.leftSidebar > ul > li.active > a {
  color: #1b3564;
}
.leftSidebar > ul > li.active.hasSub > a {
  display: block;
  height: 42px;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 9px;
}
.leftSidebar > ul > li ul {
  padding: 10px 0;
}
.leftSidebar > ul > li ul li {
  background: url("../img/bullet-sidebar.png") no-repeat 0 9px;
  padding-left: 15px;
}
.leftSidebar > ul > li ul li a {
  color: #666;
  font-size: 13px;
  padding: 3px 0;
}

.bodyRight {
  margin-bottom: 40px;
}
.bodyRight p {
  margin-top: 20px;
}
.bodyRight .banner {
  background: #e8e8e8;
  padding-bottom: 22px;
}
.bodyRight .listItem .item {
  display: block;
  height: 42px;
  border-bottom: 1px solid #e8e8e8;
  display: table;
  width: 100%;
  background: url("../img/bg-item.jpg") no-repeat 0 50%;
  padding-left: 20px;
}
.bodyRight .listItem .item span {
  display: table-cell;
  vertical-align: middle;
}
.bodyRight .listItem .item .datetime, .bodyRight .listItem .item .duedate {
  font-family: Arial;
  font-size: 13px;
  color: #999;
  width: 150px;
}
.bodyRight .listItem .item .datetime span, .bodyRight .listItem .item .duedate span {
  display: table-cell;
  vertical-align: middle;
}
.bodyRight .listItem .item .titleItem {
  width: calc(100% - 155px);
  font-size: 16px;
}
.bodyRight .listItem .item .titleItem a {
  color: #06377a;
}
.bodyRight .listItem.tuyendung .item {
  background: none;
  padding-left: 0;
}
.bodyRight .content {
  font-size: 14px;
  font-family: Arial;
}
.bodyRight .content ul {
  margin: 20px 0;
}
.bodyRight .content ul li {
  background: url("../img/bullet-list.jpg") no-repeat 0 6px;
  padding-left: 30px;
  margin-top: 20px;
}
.bodyRight .content .row {
  margin: 0;
}
.bodyRight .titleDetail {
  font-size: 36px;
  color: #06397b;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.paging {
  text-align: center;
}
.paging .pagination li a {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-right: 8px;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial;
}
.paging .pagination li a:hover {
  border: 1px solid #e8e8e8;
}
.paging .pagination li.active a:hover {
  border: 1px solid #337AB7;
}

.footer {
  height: 120px;
  background: #e41117;
  color: #fff;
}
.footer .ftLeft, .footer .box2 {
  display: table;
  height: 120px;
}
.footer .logoFooter, .footer .info, .footer .ftRIght {
  display: table-cell;
  vertical-align: middle;
}
.footer .info {
  padding-left: 6px;
}
.footer .info .infoItem {
  display: block;
}
.footer .ftRIght {
  text-align: right;
}
.footer .ftRIght .social {
  margin-top: 12px;
}
.footer .ftRIght .social a {
  margin-left: 20px;
}
.footer .ftRIght .social a:first-child {
  margin-left: 0;
}

.titleBox {
  background: #e8e8e8;
  height: 29px;
  display: table;
  width: 100%;
  margin-top: 20px;
}
.titleBox span {
  display: inline-block;
  font-size: 14px;
  color: #666;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
}
.titleBox .titleCol1 {
  width: calc(100% - 155px);
  padding-left: 10px;
}
.titleBox .titleCol2 {
  width: 150px;
}

.bannerSidebar {
  position: absolute;
  bottom: 0;
}

.thumbCat {
  text-align: center;
  margin-bottom: 30px;
}
.thumbCat img {
  margin-bottom: 20px;
  width: 100%;
}
.thumbCat a {
  display: block;
  font-size: 14px;
  color: #06377a;
  text-transform: uppercase;
}

.project .content .col-md-3 {
  min-height: 220px;
}

.description {
  height: 130px;
  font-size: 14px;
  margin-bottom: 40px;
}

.rightSidebar .title {
  background: #e41117;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px 7px;
  width: 100%;
}
.rightSidebar ul {
  margin-top: 20px;
}
.rightSidebar ul li {
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 15px;
}
.rightSidebar ul li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.rightSidebar ul li img {
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}
.rightSidebar ul li .icon-download {
  background: url("../img/icon-pdf.jpg") no-repeat 0 0;
  padding-left: 27px;
}

.titleTbl {
  height: 40px;
  background: #888;
}
.titleTbl tr td {
  width: 14%;
  border-left: 1px solid #fff;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
  padding: 0 2px;
}
.titleTbl tr td:first-child {
  border-left: none;
  text-align: right;
  padding-right: 3%;
  width: 28%;
}

.product {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.product .thumb {
  width: 14%;
  float: left;
  padding-right: 10px;
}
.product .info {
  width: 86%;
  float: left;
}
.product .info .viewMore {
  text-align: right;
  margin-top: 15px;
}
.product .info .viewMore a {
  background: url("../img/bullet-viewmore.jpg") no-repeat 100% 50%;
  padding-right: 16px;
  font-size: 12px;
  color: #06377a;
  text-transform: uppercase;
}

.nameProduct {
  color: #06377a;
  font-size: 18px;
  margin-bottom: 5px;
}

.des {
  font-size: 13px;
  font-family: Arial;
  color: #333;
  margin-top: 0 !important;
}

.infoDetail {
  background: #ccc;
  margin-top: 20px;
}
.infoDetail tr td {
  width: 14%;
  border-left: 1px solid #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  vertical-align: middle;
  padding: 0 2px;
}
.infoDetail tr td:first-child {
  border-left: none;
}

.productCat .paging {
  text-align: left;
}

.firstNews {
  margin-bottom: 30px;
}
.firstNews .infoNews {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  margin: 0 10px;
  padding: 15px 25px;
}
.firstNews .infoNews .titleNews {
  color: #fff;
  font-size: 30px;
}
.firstNews .infoNews .desNews {
  font-family: Arial;
  font-size: 12px;
  margin-top: 20px;
}
.firstNews .bginfoNews {
  height: 172px;
  width: calc(100% - 20px);
  background: url("../img/bg-first-imgNews.png") repeat-x 0 0 transparent;
  opacity: .6;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 10px;
  box-sizing: border-box;
}
.firstNews img {
  width: 100%;
}

.thumbImg {
  position: relative;
}

.iconCamera {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 30px;
  height: 24px;
  background: url("../img/camera.png") no-repeat 0 0 transparent;
}

.services {
  text-align: center;
  margin: 60px 0;
}
.services .thumbCat {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
.services .thumbCat img {
  border-radius: 50%;
}
.services .nameServices {
  display: block;
  margin-top: 15px;
  color: #ed1b24;
  font-size: 16px;
  text-transform: uppercase;
}
.services .des {
  margin-top: 15px;
  display: block;
}

section {
  padding: 45px 0px;
}
section .titleSection {
  font-size: 36px;
  color: #163679;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.contact {
  background: #f2f2f2;
}
.contact .des {
  font-size: 13px;
  color: #666666;
  text-align: center;
  margin-top: 8px !important;
  display: block;
}
.contact form {
  margin-top: 30px;
}
.contact form input, .contact form textarea {
  border: 1px solid #e3e3e3;
  height: 34px;
  background: #fff;
  padding: 10px;
  width: 100%;
}
.contact form .catpcha {
  padding-top: 2px;
}
.contact form textarea {
  height: 90px;
}
.contact form .col-md-4, .contact form .col-md-12, .contact form .col-md-2 {
  margin-top: 10px;
}
.contact form input.send {
  padding-top: 6px;
  background: #e41117;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff !important;
}

.login-doc p {
  font-family: Arial;
  margin: 60px 0 25px;
}
.login-doc form {
  margin-bottom: 90px;
}
.login-doc input {
  height: 40px;
  border: 1px solid #e3e3e3;
  height: 34px;
  background: #fff;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
}
.login-doc input.send {
  padding-top: 6px;
  background: #06377a;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff !important;
}

.document .row {
  margin-bottom: 30px;
}
.document .col-md-2 a {
  display: block;
  font-family: Arial;
  text-align: center;
  margin-bottom: 25px;
}
.document .titleBox {
  text-transform: uppercase;
  margin-bottom: 0;
}
.document .titleBox div {
  display: table;
  height: 100%;
}
.document .titleBox .col-md-2 {
  color: #999;
  font-family: Arial;
  font-size: 13px;
  text-align: left;
}
.document .listDoc {
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 0;
}
.document .listDoc div {
  display: table;
  height: 100%;
}
.document .listDoc .col-md-2 {
  color: #999;
  font-family: Arial;
  font-size: 13px;
  text-align: left;
}
.document .listDoc a {
  background: url("../img/icon-pdf.jpg") no-repeat 0 2px;
  padding-left: 27px;
  display: table-cell;
  vertical-align: middle;
  color: #06377a;
  font-size: 16px;
}

.newsBox {
  position: relative;
}
.newsBox .titleBox1, .newsBox .titleBox2 {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #e41117;
  font-size: 14px;
  color: #fff;
  padding: 6px 12px;
  text-transform: uppercase;
}
.newsBox .titleBox2 {
  background: #06377a;
}

.news .listBox {
  margin-top: 15px;
}
.news .listBox ul li {
  background: url("../img/bullet-list-red.jpg") no-repeat 1px 6px;
  padding-left: 15px;
  margin-bottom: 8px;
}
.news .titleSection {
  margin-bottom: 45px;
}

.culture {
  background: url("../img/bg-van-hoa.jpg") no-repeat 50% 0;
  height: 500px;
  background-color: #060E1F;
  text-align: center;
  color: #fff;
}
.culture .title1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 130px;
}
.culture .title2 {
  font-size: 24px;
  margin-top: 10px;
}
.culture .title3 {
  font-family: Arial;
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 20px;
}

section.services {
  background: #e41117;
  margin: 0;
}
section.services .des, section.services .nameServices {
  color: #fff;
  margin-top: 15px !important;
}
section.services .titleSection {
  margin-bottom: 40px;
  color: #fff;
}

.organize {
  background-color: #f2f2f2;
}
.organize .titleSection {
  color: #e41117;
}
.organize .des {
  color: #666;
  font-size: 13px;
  text-align: center;
  margin: 15px 0 25px !important;
}
.organize .nameServices {
  font-size: 16px;
  color: #333;
  text-align: center;
  display: block;
}
.organize .btnProfile {
  display: block;
  background-color: #163679;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 2px;
  text-align: center;
  margin-top: 55px;
}

.overview .des {
  color: #696969;
  font-size: 30px;
  margin-bottom: 30px;
}
.overview .des .red {
  color: #e41117;
}
.overview .listItem li {
  width: 20%;
  float: left;
  border-left: 1px solid #fff;
  box-sizing: border-box;
  text-align: center;
}
.overview .listItem li:first-child {
  border-left: none;
}
.overview .listItem li img {
  width: 100%;
}
.overview .listItem li p {
  background: #163679;
  height: 67px;
  color: #fff;
  text-transform: uppercase;
  display: table;
  width: 100%;
  padding: 0 10px;
}
.overview .listItem li p span {
  display: table-cell;
  vertical-align: middle;
}
.overview .listItem li:nth-child(2) p {
  background: #e41117;
}

.home header {
  height: auto;
  overflow: visible;
}
.home header .mainNav {
  top: 0;
}
.home header .logo {
  top: -39px;
}
.home section, .home footer, .home header {
  max-width: 1360px;
  margin: 0 auto;
}
.home .biglogo1 {
  position: absolute;
  right: 0;
  top: 0;
}
.home .biglogo2 {
  position: absolute;
  right: 0;
  bottom: -30px;
}

@media (max-width: 1360px) {
  .bgHeader {
    overflow: hidden;
    height: 260px;
  }
  .bgHeader img {
    width: 100%;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 639px) {
  .bodyRight .col-md-4 {
    margin-bottom: 5px;
  }
  .bodyRight .col-md-4 img {
    width: 100%;
  }

  .leftSidebar {
    min-height: auto;
  }
  .leftSidebar .bannerSidebar {
    display: none;
  }
}
